
ion-content{
    --background-color:rgba(9, 90, 231, 0.938);
}
// ion-img{
//     margin-top:250px;
// }
// ion-button{
//     margin-left: 140px;
//     margin-top: 50px;
// }
.view{
    float: right;
}
ion-header{
    --background:rgb(78, 21, 78);
}
.movies{
    color: navy;
}
ion-toolbar{
    --background:red;  
} 