<div class = "add">
  <div class = "form">
  <h3 style = margin-top:6px;> Add Movie</h3>
 
    
    <input type = "text" name = "name" [(ngModel)] = "movie.name" placeholder = "name"/><br><br>
    <input type = "text" name = "year" [(ngModel)] = "movie.year" placeholder = "year"/><br><br>
    <input type = "text" name = "url" [(ngModel)] = "movie.image_url" placeholder = "image url"/><br><br>
    <input type = "text" name = "production house" [(ngModel)] = "movie.production_house" placeholder = "production house"/><br><br>
    <input type = "text" name = "rating" [(ngModel)] = "movie.rating" placeholder = "rating"/><br><br>
    <input type = "text" name = "type" [(ngModel)] = "movie.type" placeholder = "type"/><br><br>
    <input type = "text" name = "language" [(ngModel)] = "movie.language" placeholder = "language"/><br><br>
    <input type = "date" name = "language" [(ngModel)] = "movie.date" placeholder = "date"/><br><br>
    <input type="button" name = "addMovie" (click)="addMovie(movie)"  value = "Add Movie"/>

  
  
  </div>
</div>