ion-content{
    --background: url('/assets/bhill.jpg');
    --background-size: cover;
    --background-position: center;
    --background-repeat: no-repeat;
    color: #ffffff;
}

ion-toolbar{
    --background: #e21111;
}
ion-list{
    width: 120%;
    margin-left: -22px;
    --background-color: rgba(241, 14, 14, 0.349);
}

ion-card{
    --background:rgba(241, 14, 14, 0.349);
    width: 90%;
position:absolute;
top: 20vh;
left: 28%;
transform: translateX(-30%);
padding: 10px 30px 10px 30px;
    
}
ion-card-header{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: black;
}
p{
    text-align: center;
}
ion-button .round{
    width: 120%;
    margin-left: -22px;
    position:absolute;
    top: 20vh;
    left: 28%;
    transform: translateX(-30%);
    padding: 10px 30px 10px 30px;
}
ion-item{
    --background-color: rgba(241, 14, 14, 0.349);
}
ion-button .face{
    text-align: center;
   
}
// a{
//     position: absolute;
//     top:800px;
//     left: 30%;
// }